body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

// changing buttons properties for demo purposes
button {
  border-radius: 0 !important;
  display: inline-block;
  margin: 0 5px 5px 3px;
}
